@model BeestjeOpJeFeestje.Models.SelectAnimalsViewModel

@{
    ViewData["Title"] = "SelectAnimals";
}

<h1>BeestjesSelectie</h1>

<h4>Selecteer de beestjes die je aan je boeking wilt toevoegen:</h4>
<hr />
<div>
    <div >
        <form class="bodyEdit" asp-action="SelectAnimals" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="booking.Id" value="@Model.booking.Id" hidden />
            <input asp-for="card" hidden />
            <div class="containerEdit">
                @foreach (var animal in Model.availableAnimals)
                {
                    <div class="item">
                        <h4>@animal.Name</h4>

                        @if (Model.bookedAnimalIds != null && Model.bookedAnimalIds.Contains(animal.Id))
                        {
                            <input type="checkbox" name="selectedAnimalIds" value="@animal.Id" disabled />
                            <br />
                        }else
                        @if (Model.selectedAnimalIds != null && Model.selectedAnimalIds.Contains(animal.Id))
                        {
                            <input type="checkbox" name="selectedAnimalIds" value="@animal.Id" checked />
                            <br />
                        }
                        else
                        {
                            <input type="checkbox" name="selectedAnimalIds" value="@animal.Id" />
                        
                            <br />
                        }
                        <img src="~/images/@animal.ImageLink" alt="Een aap" class="selectImage">
                        <h4>€@animal.Price</h4>

                    </div>
                }
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <h4>De boekings datum: @Model.booking.Date</h4>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
